    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.title }}</h2>
                    <h3>{{ site.subtitle }}</h3>
                    <p>{{ site.bio }}</p>
                </section>
            </div>
            <div>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        <li><a href="{{ site.social_urls.facebook }}" class="icon fa-facebook"><span
                                class="label">Facebook</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.deviantart }}" class="icon fa-deviantart"><span
                                class="label">DeviantArt</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.twitter }}" class="icon fa-twitter"><span
                                class="label">Twitter</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.instagram }}" class="icon fa-instagram"><span
                                class="label">Instagram</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.github }}" class="icon fa-github"><span
                                class="label">GitHub</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin"><span
                                class="label">LinkedIn</span></a>
                        </li>
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. 2006 - {{ 'now' | date: "%Y" }}.
                </p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>
<!-- End Wrapper -->

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.poptrox.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/exif.js"></script>
<!--[if lte IE 8]>
<script src="{{site.baseurl}}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<!-- End Scripts -->
