<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{{site.baseurl}}/index"><img src="{{site.baseurl}}/{{ site.logo }}"/></a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
                <li><a href="{{site.baseurl}}/gallery" class="icon fa-picture-o">Gallery</a></li>
                <li><a href="{{site.baseurl}}/actions" class="icon fa-magic">Actions</a></li>
                <li><a href="{{site.baseurl}}/tutorials" class="icon fa-graduation-cap">Tutorials</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->
