<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><img src="{{ site.logo }}"/></a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
                <li><a href="gallery" class="icon fa-picture-o">Gallery</a></li>
                <li><a href="actions" class="icon fa-magic">Actions</a></li>
                <li><a href="tutorials" class="icon fa-graduation-cap">Tutorials</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->
