body {
    overflow: hidden;
}

#accordion {
    list-style: none;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#accordion h1 {
    position: absolute;
    font-size: 6vh;
    background-color:rgba(0,0,0,0.3);
    padding: 0px 10px;
}

#accordion .vertical-text {
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    float: left;
}

#accordion .list {
    float: left;
    display: block;
    height: 100vh;
    width: 10vw;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

#accordion .slide {
    float: left;
    position: relative;
    height: 100%;
}

#accordion .active {
    width: 50vw; /* 50 + 5 * 10 = 100 */
}

